{% extends "base.html" %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}

{% block meta_description %}
{% if article.summary %}<meta name="description" content="{{ article.summary|striptags }}">{% endif %}
{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{ article.title }}</h1>
  </header>
  <section>{{ article.content }}</section>
  <footer>
    <p>Published: <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
    <address>By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></address>
  </footer>
</article>
{% endblock %}
